    <div class="container-fluid">

      <div class="row">
       <!--sidebar-->

        <div class="col-sm-3 col-md-2 sidebar">

          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="index.php">Mua</a></li>
            <li role="presentation"><a href="post.php">Bán</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li class="active"><a href="electronic.php"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Đồ điện tử <span class="sr-only">(current)</span></a></li>
            <li><a href="phone.php">Điện thoại di động</a></li>
            <li><a href="tablet.php">Máy tính bảng</a></li>
            <li><a href="computer.php">Máy tính, Laptop</a></li>
            <li><a href="television.php">Tivi</a></li>
            <li><a href="amply.php">Loa, Amply</a></li>
            <li><a href="player.php">Máy nghe nhạc</a></li>
            <li><a href="accessories.php">Phụ kiện, Linh kiện</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li class="active"><a href="fashion.php"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Thời trang<span class="sr-only">(current)</span></a></li>
            <li><a href="clothes.php">Quần áo, Váy đầm</a></li>
            <li><a href="footwear.php">Giày dép</a></li>
            <li><a href="carpetbagger.php">Túi xách, Ba lô</a></li>
            <li><a href="jewelry.php">Phụ kiện</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li class="active"><a href="transport.php"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Phương tiện giao thông <span class="sr-only">(current)</span></a></li>
            <li><a href="bike.php">Xe đạp</a></li>
            <li><a href="motorbike.php">Xe máy</a></li>
            <li><a href="accessories1.php">Phụ tùng xe</a></li>
          </ul>

        </div><!--/.sidebar-->